<main class="main">
  <app-navbar></app-navbar>

  <p-button (click)="showDialog()" icon="pi pi-external-link" label="Show"></p-button>
  <p-dialog header="Header" [(visible)]="visible" [style]="{width: '50vw'}">
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
  </p-dialog>


  <app-carrusel-art [type]="'ILUSTRATIONS'" [title]="'Ilustrations'"></app-carrusel-art>
  <app-carrusel-art [type]="'COMIC'" [title]="'Comic'"></app-carrusel-art>
  <app-carrusel-art [type]="'PORTAFOLIO_ILUSTRACION'"  [title]="'Portfolio Ilustration'"></app-carrusel-art>
  <app-carrusel-art [type]="'PORTFOLIO_CONCEPT_ART'"  [title]="'Portfolio Concept Art'"></app-carrusel-art>

  <app-about-info></app-about-info>
</main>

<router-outlet />
